<!DOCTYPE html>
<html>
<head>
    <title>Insurance</title>

     <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link href="./assets/css/bootstrap.css" rel="stylesheet">
    <link href="./assets/css/company.css" rel="stylesheet">
    <link href="./assets/css/font-awesome.css" rel="stylesheet">
    <link href="./assets/css/solution.css" rel="stylesheet">
</head>
<body ng-app="merchant-app">
<div class="container">



  <div class="form-top">
       <div class="form-top-left">
           <h3 translate>{{"SIDEBAR.HOUSEINSURANCE"}}</h3>
                                
      </div>
      <div class="form-top-right">
         <i class="fa fa-lock"></i>
      </div>
    </div> 
<div class="form-bottom">
    <form class="form-horizontal" novalidate name="hic.houseInsuranceForm">
        <div class="form-group" ng-class="{ 'has-error': hic.houseInsuranceForm.size.$touched && hic.houseInsuranceForm.size.$invalid }">
            <label class="control-label col-sm-2" for="size" translate>{{"HOUSE.SIZE"}}</label>
            <div class="col-sm-6 col-md-4" busy-indicator>
                <input type="text" ng-model="hic.houseInsurance.size" id="size" name="size" class="form-control" ng-pattern="/^[0-9]+$/" required  >

                <div ng-messages="hic.houseInsuranceForm.size.$error" ng-show="hic.houseInsuranceForm.size.$touched">
                    <p ng-message="required"><span translate>{{"HOUSE.ERROR.REQUIRED"}}</span></p>
                     <p ng-message="pattern"><span translate>{{"HOUSE.ERROR.NUMBER"}}</span></p>
                </div>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error': hic.houseInsuranceForm.age.$touched && hic.houseInsuranceForm.age.$invalid }">
            <label class="control-label col-sm-2" for="code" translate>{{"HOUSE.AGE"}}</label>
            <div class="col-sm-6 col-md-4">
                <input type="text" ng-model="hic.houseInsurance.age" id="age" name="age" class="form-control" ng-pattern="/^[0-9]+$/" required>

                 <div ng-messages="hic.houseInsuranceForm.age.$error" ng-show="hic.houseInsuranceForm.age.$touched">
                    <p ng-message="required"><span translate>{{"HOUSE.ERROR.REQUIRED"}}</span></p>
                    <p ng-message="pattern"><span translate>{{"HOUSE.ERROR.NUMBER"}}</span></p>
                </div>

            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error': hic.houseInsuranceForm.estimatedValue.$touched && hic.houseInsuranceForm.estimatedValue.$invalid }">
            <label class="control-label col-sm-2" for="estimatedValue" translate>{{"HOUSE.ESTIMATEDVALUE"}}</label>
            <div class="col-sm-6 col-md-4">
                <input type="text" ng-model="hic.houseInsurance.estimatedValue" id="estimatedValue" name="estimatedValue" ng-pattern="/^[0-9]+$/" class="form-control" required>

                 <div ng-messages="hic.houseInsuranceForm.estimatedValue.$error" ng-show="hic.houseInsuranceForm.estimatedValue.$touched">
                    <p ng-message="required"><span translate>{{"HOUSE.ERROR.REQUIRED"}}</span></p>
                    <p ng-message="pattern"><span translate>{{"HOUSE.ERROR.NUMBER"}}</span></p>
                </div>

            </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error': hic.houseInsuranceForm.adress.$touched && hic.houseInsuranceForm.adress.$invalid }">
            <label class="control-label col-sm-2" for="address" translate>{{"HOUSE.ADDRESS"}}</label>
            <div class="col-sm-6 col-md-4">
                <input type="text" ng-model="hic.houseInsurance.adress" id="adress" name="adress" class="form-control" required>

                <div ng-messages="hic.houseInsuranceForm.adress.$error" ng-show="hic.houseInsuranceForm.adress.$touched">
                    <p ng-message="required"><span translate>{{"HOUSE.ERROR.REQUIRED"}}</span></p>
                </div>
            </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error': hic.houseInsuranceForm.ownerFirstName.$touched && hic.houseInsuranceForm.ownerFirstName.$invalid }">
            <label class="control-label col-sm-2" for="code" translate>{{"HOUSE.OWNERFN"}}</label>
            <div class="col-sm-6 col-md-4">
                <input type="text" ng-model="hic.houseInsurance.ownerFirstName" id="ownerFirstName" name="ownerFirstName" class="form-control" required>

                 <div ng-messages="hic.houseInsuranceForm.ownerFirstName.$error" ng-show="hic.houseInsuranceForm.ownerFirstName.$touched">
                    <p ng-message="required"><span translate>{{"HOUSE.ERROR.REQUIRED"}}</span></p>
                </div>


            </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error': hic.houseInsuranceForm.ownerLastName.$touched && hic.houseInsuranceForm.ownerLastName.$invalid }">
            <label class="control-label col-sm-2" for="code" translate>{{"HOUSE.OWNERLN"}}</label>
            <div class="col-sm-6 col-md-4">
                <input type="text" ng-model="hic.houseInsurance.ownerLastName" id="ownerLastName" name="ownerLastName" class="form-control" required>

                 <div ng-messages="hic.houseInsuranceForm.ownerLastName.$error" ng-show="hic.houseInsuranceForm.ownerLastName.$touched">
                    <p ng-message="required"><span translate>{{"HOUSE.ERROR.REQUIRED"}}</span></p>
                </div>


            </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error': hic.houseInsuranceForm.ownerJMBG.$touched && hic.houseInsuranceForm.ownerJMBG.$invalid }">
            <label class="control-label col-sm-2" for="code" translate>{{"HOUSE.OWNERJMBG"}}</label>
            <div class="col-sm-6 col-md-4">
                <input type="text" ng-model="hic.houseInsurance.ownerJMBG" id="ownerJMBG" name="ownerJMBG" ng-pattern="/^[0-9]{13}$/" class="form-control" required>

                <div ng-messages="hic.houseInsuranceForm.ownerJMBG.$error" ng-show="hic.houseInsuranceForm.ownerJMBG.$touched">
                    <p ng-message="required"><span translate>{{"HOUSE.ERROR.REQUIRED"}}</span></p>
                    <p ng-message="pattern"><span translate>{{"HOUSE.ERROR.JMBG"}}</span></p>
                </div>

            </div>
        </div>

         <div class="form-group" ng-class="{ 'has-error': hic.houseInsuranceForm.coveredByInsurance.$touched && hic.houseInsuranceForm.coveredByInsurance.$invalid }">
            <label class="control-label col-sm-2" for="code" translate>{{"HOUSE.INSURANCE"}}</label>
            <div class="col-sm-6 col-md-4">
                
                <div ng-if="hic.currentLanguage != 'Sr'">
                    <div ng-dropdown-multiselect="" options="hic.insuranceData" selected-model="hic.insuranceSelection" events="hic.selectionEvent" id="coveredByInsurance" name="coveredByInsurance" ng-model="hic.houseInsurance.coveredByInsurance" required>
                     </div>
                </div>

                 <div ng-if="hic.currentLanguage == 'Sr'">
                    <div ng-dropdown-multiselect="" options="hic.insuranceData" selected-model="hic.insuranceSelection" events="hic.selectionEvent" id="coveredByInsurance" translation-texts ="hic.translate" name="coveredByInsurance" ng-model="hic.houseInsurance.coveredByInsurance" required>
                     </div>
                </div>

            </div>
        </div>


        <div class="col-sm-offset-2" >
            <button type="button" class="btn_medium btn-primary" ng-click="hic.addHouseInsurance()" translate ng-disabled="hic.houseInsuranceForm.$invalid">{{"COMMON.SUBMIT"}}</button>
            <button type="button" class="btn_medium btn-secondary" ng-click="hic.goToCarInsurance()" translate>{{"COMMON.SKIP"}}</button>
        </div>
    </form>
</div>
</div>


</body>
</html>