<!DOCTYPE html>
<html>
<head>
    <title>Add region</title>
    <link href="./assets/css/bootstrap.css" rel="stylesheet">
    <link href="./assets/css/company.css" rel="stylesheet">
    <link href="./assets/css/font-awesome.css" rel="stylesheet">
    <link href="./assets/css/solution.css" rel="stylesheet">
</head>
<body ng-app="company-registry">
<div>

<form class="form-horizontal" novalidate name="rc.regionForm">
		<div class="form-group">
		<div class="col-sm-offset-2 col-sm-4">
			<label>Region</label>
		</div>
		</div>


        <div class="form-group" ng-class="{ 'has-error': rc.regionForm.name.$touched && rc.regionForm.name.$invalid }">
		<label class="control-label col-sm-2" translate>{{"REGION.NAME"}}</label>
		<div class="col-sm-6 col-md-4">
		<input class="form-control" type="text" ng-model="rc.region.name"  name="name" required>

        <div ng-messages="rc.regionForm.name.$error" ng-show="rc.regionForm.name.$touched">
                    <p ng-message="required"><span translate>{{"REGION.ERROR.REQUIRED"}}</span></p>
                </div>
		</div>
		</div>


        <div class="form-group" ng-class="{ 'has-error': rc.regionForm.risk.$touched && rc.regionForm.risk.$invalid }">
		<label class="control-label col-sm-2" translate>{{"REGION.RISK"}}</label>
		<div class="col-sm-6 col-md-4">
		<input class="form-control" type="text" ng-model="rc.region.risk" name="risk" ng-pattern="/^[0-9]+$/" required>

        <div ng-messages="rc.regionForm.risk.$error" ng-show="rc.regionForm.risk.$touched">
                    <p ng-message="required"><span translate>{{"REGION.ERROR.REQUIRED"}}</span></p>
                    <p ng-message="pattern"><span translate>{{"REGION.ERROR.NUMBER"}}</span></p>
                </div>
		</div>
		</div>


		 <div class="col-sm-offset-2">
		      <button class="btn btn-primary" ng-click="rc.submitRegion()" translate ng-disabled="rc.regionForm.$invalid">{{"COMMON.SUBMIT"}}</button>
		</div>

	</form>

    <br><br><br><br><br>

	<table id="t01" align="center" width="75%;">
  <tr>
    <th>&nbsp;</th>
    <th>ID</th>
    <th translate>{{"REGION.NAME"}}</th>
    <th translate>{{"REGION.RISK"}}</th>

  </tr>
  <tr ng-repeat="element in rc.listOfRegions">
    <td style="width:4%;">{{$index+1}}&nbsp;</td>
    <td style="width:11%;">{{element._id}}</td>
    <td style="width:9%;">{{element.name}}</td>
    <td style="width:9%;">{{element.risk}}</td>
  </tr>
  </table>

</div>
</body>
</html>
