<!DOCTYPE html>
<html>
<head>
    <title>Insurance</title>

    <link href="./assets/css/bootstrap.css" rel="stylesheet">
     <link rel="stylesheet" href="assets/css/style.css">
    <link href="./assets/css/company.css" rel="stylesheet">
    <link href="./assets/css/font-awesome.css" rel="stylesheet">
    <link href="./assets/css/solution.css" rel="stylesheet">
</head>
<body ng-app="merchant-app">
	<h4>
		Web app for buying insurance.
	</h4>

	<h4>
	Our company works more than 10 years and our customers are very satisfied with the services which we offer them.
	</h4>

  </body>

</html>