<ul class="nav nav-sidebar nav-sidebar-padding sideBar">
   <!--  <li ng-class="{activeItem:sbc.isActive('home')}">
        <a ui-sref='main.home'><span>Home</span></a>
    </li>
    <li ng-class="{activeItem:sbc.isActive('about')}">
        <a ui-sref='main.about'><span>About</span></a> -->
    </li>
     <li ng-class="{activeItem:sbc.isActive('insuranceForm')}">
        <a ui-sref='main.insuranceForm'><span>Insurance</span></a>
    </li>
  <li ng-show="sbc.usersActive" ng-class="{activeItem:sbc.isActive('usersInsuranceForm')}">
        <a><span>Users</span></a>

        <!-- ja stavio subSideBar umesto sideBar i uneo sitne izmene u css-->
        <ul class="nav nav-sidebar nav-sidebar-padding subSideBar">
            <li ng-repeat="userIndex in sbc.usersIndices" ng-class="{activeItem:sbc.isActive('usersInsuranceForm/{{userIndex}}')}" >
            <a ui-sref='main.usersInsuranceForm({userIndex:{{userIndex}}})'><span>User {{userIndex}}</span></a>
            </li>
        </ul>
    </li>

     <li ng-show="!sbc.usersActive" class="inactive">
        <a class="inactive"><span>Users</span></a>
    </li>

    <li ng-show="sbc.houseActive" ng-class="{activeItem:sbc.isActive('houseInsuranceForm')}">
        <a ui-sref='main.houseInsuranceForm'><span>House insurance</span></a>
    </li>

    <!--BITNO: promene u css-u: dodat .inactive u company.css-->
     <li ng-show="!sbc.houseActive" class="inactive">
        <a class="inactive"><span>House insurance</span></a>
    </li>
    <li ng-show="sbc.carActive" ng-class="{activeItem:sbc.isActive('carInsuranceForm')}">
        <a ui-sref='main.carInsuranceForm'><span>Car insurance</span></a>
    </li>

     <li ng-show="!sbc.carActive" class="inactive">
        <a class="inactive"><span>Car insurance</span></a>
    </li>

     <li ng-show = "sbc.dataActive" ng-class="{activeItem:sbc.isActive('data')}">
        <a ui-sref='main.dataPage'><span>Your data</span></a>
    </li>

     <li ng-show="!sbc.dataActive" class="inactive">
        <a class="inactive"><span>Your data</span></a>
    </li>

      


</ul>