<!DOCTYPE html>
<html>
<head>
    <title>Payment</title>
    <link href="./assets/css/bootstrap.css" rel="stylesheet">
    <link href="./assets/css/company.css" rel="stylesheet">
    <link href="./assets/css/font-awesome.css" rel="stylesheet">
    <link href="./assets/css/solution.css" rel="stylesheet">
</head>
<body ng-app="merchant-app">
<div>

    <form class="form-horizontal" novalidate name="cic.carInsuranceForm">
        
         <div class="form-group" ng-class="{ 'has-error': cic.carInsuranceForm.services.$touched && cic.carInsuranceForm.services.$invalid }">
            <label class="control-label col-sm-2" for="code" translate>{{"CAR.SERVICE"}}</label>
            <div class="col-sm-6 col-md-4">
                <div ng-if="cic.currentLanguage != 'Sr'">
                    <div ng-dropdown-multiselect=""  options="cic.serviceData" selected-model="cic.serviceSelection"  extra-settings="cic.extraSettings" events="cic.selectionEvent"  group-by="group" id="services" name="services" required>
                    </div>
                </div>
                 <div ng-if="cic.currentLanguage == 'Sr'">
                    <div ng-dropdown-multiselect=""  options="cic.serviceData" selected-model="cic.serviceSelection"  extra-settings="cic.extraSettings" events="cic.selectionEvent" translation-texts ="cic.translate" group-by="group" id="services" name="services" required>
                    </div>
                </div>
                

            </div>
        </div>

     
        <div class="form-group" ng-class="{ 'has-error': cic.carInsuranceForm.vehicle.$touched && cic.carInsuranceForm.vehicle.$invalid }">
            <label class="control-label col-sm-2" for="vehicle" translate>{{"CAR.VEHICLE"}}</label>
            <div class="col-sm-6 col-md-4">
                <input type="text" ng-model="cic.carInsurance.vehicle" id="vehicle" name="vehicle" class="form-control" required>
                <div ng-messages="cic.carInsuranceForm.vehicle.$error" ng-show="cic.carInsuranceForm.vehicle.$touched">
                    <p ng-message="required"><span translate>{{"CAR.ERROR.REQUIRED"}}</span></p>
                </div>

            </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error': cic.carInsuranceForm.vehicleYear.$touched && cic.carInsuranceForm.vehicleYear.$invalid }">
            <label class="control-label col-sm-2" for="vehicleYear" translate>{{"CAR.VEHICLEYEAR"}}</label>
            <div class="col-sm-6 col-md-4">
                <input type="text" ng-model="cic.carInsurance.vehicleYear" id="vehicleYear" name="vehicleYear" ng-pattern="/^[0-9]+$/" class="form-control" required>
                <div ng-messages="cic.carInsuranceForm.vehicleYear.$error" ng-show="cic.carInsuranceForm.vehicleYear.$touched">
                    <p ng-message="required"><span translate>{{"CAR.ERROR.REQUIRED"}}</span></p>
                    <p ng-message="pattern"><span translate>{{"CAR.ERROR.NUMBER"}}</span></p>
                </div>

            </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error': cic.carInsuranceForm.plateNumber.$touched && cic.carInsuranceForm.plateNumber.$invalid }">
            <label class="control-label col-sm-2" for="plateNumber" translate>{{"CAR.PLATENUMBER"}}</label>
            <div class="col-sm-6 col-md-4">
                <input type="text" ng-model="cic.carInsurance.plateNumber" id="plateNumber" name="plateNumber" class="form-control" required>
                <div ng-messages="cic.carInsuranceForm.plateNumber.$error" ng-show="cic.carInsuranceForm.plateNumber.$touched">
                    <p ng-message="required"><span translate>{{"CAR.ERROR.REQUIRED"}}</span></p>
                </div>

            </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error': cic.carInsuranceForm.chassisNumber.$touched && cic.carInsuranceForm.chassisNumber.$invalid }">
            <label class="control-label col-sm-2" for="chassisNumber" translate>{{"CAR.CHASSISNUMBER"}}</label>
            <div class="col-sm-6 col-md-4">
                <input type="text" ng-model="cic.carInsurance.chassisNumber" id="chassisNumber" name="chassisNumber" class="form-control" required>
                <div ng-messages="cic.carInsuranceForm.chassisNumber.$error" ng-show="cic.carInsuranceForm.chassisNumber.$touched">
                    <p ng-message="required"><span translate>{{"CAR.ERROR.REQUIRED"}}</span></p>
                </div>

            </div>
        </div>


        <div class="form-group" ng-class="{ 'has-error': cic.carInsuranceForm.ownerFirstName.$touched && cic.carInsuranceForm.ownerFirstName.$invalid }">
            <label class="control-label col-sm-2" for="code" translate>{{"CAR.OWNERFN"}}</label>
            <div class="col-sm-6 col-md-4">
                <input type="text" ng-model="cic.carInsurance.ownerFirstName" id="ownerFirstName" name="ownerFirstName" class="form-control" required>
                <div ng-messages="cic.carInsuranceForm.ownerFirstName.$error" ng-show="cic.carInsuranceForm.ownerFirstName.$touched">
                    <p ng-message="required"><span translate>{{"CAR.ERROR.REQUIRED"}}</span></p>
                </div>

            </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error': cic.carInsuranceForm.ownerLastName.$touched && cic.carInsuranceForm.ownerLastName.$invalid }">
            <label class="control-label col-sm-2" for="code" translate>{{"CAR.OWNERLN"}}</label>
            <div class="col-sm-6 col-md-4">
                <input type="text" ng-model="cic.carInsurance.ownerLastName" id="ownerLastName" name="ownerLastName" class="form-control" required>
                <div ng-messages="cic.carInsuranceForm.ownerLastName.$error" ng-show="cic.carInsuranceForm.ownerLastName.$touched">
                    <p ng-message="required"><span translate>{{"CAR.ERROR.REQUIRED"}}</span></p>
                </div>

            </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error': cic.carInsuranceForm.ownerJmbg.$touched && cic.carInsuranceForm.ownerJmbg.$invalid }">
            <label class="control-label col-sm-2" for="code" translate>{{"CAR.OWNERJMBG"}}</label>
            <div class="col-sm-6 col-md-4">
                <input type="text" ng-model="cic.carInsurance.ownerJmbg" id="ownerJmbg" name="ownerJmbg" ng-pattern="/^[0-9]{13}$/" class="form-control" required>
                <div ng-messages="cic.carInsuranceForm.ownerJmbg.$error" ng-show="cic.carInsuranceForm.ownerJmbg.$touched">
                    <p ng-message="required"><span translate>{{"CAR.ERROR.REQUIRED"}}</span></p>
                     <p ng-message="pattern"><span translate>{{"CAR.ERROR.JMBG"}}</span></p>
                </div>

            </div>
        </div>


        <div class="col-sm-offset-2">

            <button type="button" class="btn btn-primary" ng-click="cic.addCarInsurance()" translate ng-disabled="cic.carInsuranceForm.$invalid">{{"COMMON.SUBMIT"}}</button>
            <button type="button" class="btn btn-secondary" ng-click="cic.goToFinalPage()" translate>{{"COMMON.SKIP"}}</button>

        </div>
    </form>
</div>


</body>
</html>