<!DOCTYPE html>
<html>
<head>
    <title>Insurance</title>

     <link href="./assets/css/bootstrap.css" rel="stylesheet">
     <link rel="stylesheet" href="assets/css/style.css">
    <link href="./assets/css/company.css" rel="stylesheet">
    <link href="./assets/css/font-awesome.css" rel="stylesheet">
    <link href="./assets/css/solution.css" rel="stylesheet">
    <link href="./assets/css/test2.css" rel="stylesheet">
</head>
<body ng-app="merchant-app">
  <div class="container">



    <div class="form-top">
       <div class="form-top-left">
          <h3 translate>{{"SIDEBAR.CARINSURANCE"}}</h3>                                    
      </div>
      <div class="form-top-right">
         <i class="fa fa-lock"></i>
      </div>
    </div>       

      <ul class="tab">
  <li><a href="javascript:void(0)" class="tablinks" ng-click="cic.openTab('Part1')">Part 1</a></li>
  <li><a href="javascript:void(0)" class="tablinks" ng-click="cic.openTab('Part2')">Part 2</a></li>
</ul>

<div id="Part1" class="tabcontent">
 <div class="form-bottom">
    <form class="form-horizontal" novalidate name="cic.carInsuranceForm">
        <div ng-repeat="optionGroup in cic.serviceData" class="form-group">
        <br>
          <div ng-repeat="option in optionGroup" class="form-group">
              <label ng-show="cic.currentLanguage == 'En'" class="control-label col-sm-2" for="code" translate>{{option.label}}: </label>
               <label ng-show="cic.currentLanguage == 'Sr'" class="control-label col-sm-2" for="code" translate>{{option.labelSer}}: </label>
              <div class="col-sm-6 col-md-4" busy-indicator>
                  <input type="checkbox" ng-model="option.selected" ng-value={{"option._id"}} id="services" ng-click="cic.updateCarInsurance(option)" name="services" class="form-control">
              </div>
         </div>
        </div>
    </form>
</div>
</div>
    

<div id="Part2" class="tabcontent">
   <div class="form-bottom">

    <form class="form-horizontal" novalidate name="cic.carInsuranceForm">

     
        <div class="form-group" ng-class="{ 'has-error': cic.carInsuranceForm.vehicle.$touched && cic.carInsuranceForm.vehicle.$invalid }">
            <label class="control-label col-sm-2" for="vehicle" translate>{{"CAR.VEHICLE"}}</label>
            <div class="col-sm-6 col-md-4">
                <input type="text" ng-model="cic.carInsurance.vehicle" id="vehicle" name="vehicle" class="form-control" required>
                <div ng-messages="cic.carInsuranceForm.vehicle.$error" ng-show="cic.carInsuranceForm.vehicle.$touched">
                    <p ng-message="required"><span translate>{{"CAR.ERROR.REQUIRED"}}</span></p>
                </div>

            </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error': cic.carInsuranceForm.vehicleYear.$touched && cic.carInsuranceForm.vehicleYear.$invalid }">
            <label class="control-label col-sm-2" for="vehicleYear" translate>{{"CAR.VEHICLEYEAR"}}</label>
            <div class="col-sm-6 col-md-4">
                <input type="text" ng-model="cic.carInsurance.vehicleYear" id="vehicleYear" name="vehicleYear" ng-pattern="/^[0-9]+$/" class="form-control" required>
                <div ng-messages="cic.carInsuranceForm.vehicleYear.$error" ng-show="cic.carInsuranceForm.vehicleYear.$touched">
                    <p ng-message="required"><span translate>{{"CAR.ERROR.REQUIRED"}}</span></p>
                    <p ng-message="pattern"><span translate>{{"CAR.ERROR.NUMBER"}}</span></p>
                </div>

            </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error': cic.carInsuranceForm.plateNumber.$touched && cic.carInsuranceForm.plateNumber.$invalid }">
            <label class="control-label col-sm-2" for="plateNumber" translate>{{"CAR.PLATENUMBER"}}</label>
            <div class="col-sm-6 col-md-4">
                <input type="text" ng-model="cic.carInsurance.plateNumber" id="plateNumber" name="plateNumber" class="form-control" required>
                <div ng-messages="cic.carInsuranceForm.plateNumber.$error" ng-show="cic.carInsuranceForm.plateNumber.$touched">
                    <p ng-message="required"><span translate>{{"CAR.ERROR.REQUIRED"}}</span></p>
                </div>

            </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error': cic.carInsuranceForm.chassisNumber.$touched && cic.carInsuranceForm.chassisNumber.$invalid }">
            <label class="control-label col-sm-2" for="chassisNumber" translate>{{"CAR.CHASSISNUMBER"}}</label>
            <div class="col-sm-6 col-md-4">
                <input type="text" ng-model="cic.carInsurance.chassisNumber" id="chassisNumber" name="chassisNumber" class="form-control" required>
                <div ng-messages="cic.carInsuranceForm.chassisNumber.$error" ng-show="cic.carInsuranceForm.chassisNumber.$touched">
                    <p ng-message="required"><span translate>{{"CAR.ERROR.REQUIRED"}}</span></p>
                </div>

            </div>
        </div>


        <div class="form-group" ng-class="{ 'has-error': cic.carInsuranceForm.ownerFirstName.$touched && cic.carInsuranceForm.ownerFirstName.$invalid }">
            <label class="control-label col-sm-2" for="code" translate>{{"CAR.OWNERFN"}}</label>
            <div class="col-sm-6 col-md-4">
                <input type="text" ng-model="cic.carInsurance.ownerFirstName" id="ownerFirstName" name="ownerFirstName" class="form-control" required>
                <div ng-messages="cic.carInsuranceForm.ownerFirstName.$error" ng-show="cic.carInsuranceForm.ownerFirstName.$touched">
                    <p ng-message="required"><span translate>{{"CAR.ERROR.REQUIRED"}}</span></p>
                </div>

            </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error': cic.carInsuranceForm.ownerLastName.$touched && cic.carInsuranceForm.ownerLastName.$invalid }">
            <label class="control-label col-sm-2" for="code" translate>{{"CAR.OWNERLN"}}</label>
            <div class="col-sm-6 col-md-4">
                <input type="text" ng-model="cic.carInsurance.ownerLastName" id="ownerLastName" name="ownerLastName" class="form-control" required>
                <div ng-messages="cic.carInsuranceForm.ownerLastName.$error" ng-show="cic.carInsuranceForm.ownerLastName.$touched">
                    <p ng-message="required"><span translate>{{"CAR.ERROR.REQUIRED"}}</span></p>
                </div>

            </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error': cic.carInsuranceForm.ownerJmbg.$touched && cic.carInsuranceForm.ownerJmbg.$invalid }">
            <label class="control-label col-sm-2" for="code" translate>{{"CAR.OWNERJMBG"}}</label>
            <div class="col-sm-6 col-md-4">
                <input type="text" ng-model="cic.carInsurance.ownerJmbg" id="ownerJmbg" name="ownerJmbg" ng-pattern="/^[0-9]{13}$/" class="form-control" required>
                <div ng-messages="cic.carInsuranceForm.ownerJmbg.$error" ng-show="cic.carInsuranceForm.ownerJmbg.$touched">
                    <p ng-message="required"><span translate>{{"CAR.ERROR.REQUIRED"}}</span></p>
                     <p ng-message="pattern"><span translate>{{"CAR.ERROR.JMBG"}}</span></p>
                </div>

            </div>
        </div>     
    </form>
     </div>
</div>

 <div class="col-sm-offset-2">

            <button type="button" class="btn_medium btn-primary" ng-click="cic.addCarInsurance()" translate ng-disabled="cic.carInsuranceForm.$invalid">{{"COMMON.SUBMIT"}}</button>
            <button type="button" class="btn_medium btn-secondary" ng-click="cic.goToFinalPage()" translate>{{"COMMON.SKIP"}}</button>

        </div>
</div>


</body>
</html>