<!DOCTYPE html>
<html>
<head>
    <title>Insurance</title>

    <link href="./assets/css/bootstrap.css" rel="stylesheet">
     <link rel="stylesheet" href="assets/css/style.css">
    <link href="./assets/css/company.css" rel="stylesheet">
    <link href="./assets/css/font-awesome.css" rel="stylesheet">
    <link href="./assets/css/solution.css" rel="stylesheet">
</head>
<body ng-app="merchant-app">
<div class="container">



  <div class="form-top">
       <div class="form-top-left">
           <h3 translate>{{"SIDEBAR.CARINSURANCE"}}</h3>   
           <span style="color: white; font-size: 40pt"> 1/2   <button type="button" class="btn_medium btn-further" ng-click="cic.goToMainForm()" translate>&gt;</button> </span>     
           
                                
      </div>
      <div class="form-top-right">
         <i class="fa fa-lock"></i>
      </div>
    </div> 


<div class="form-bottom">
    <form class="form-horizontal" novalidate name="cic.carInsuranceForm">
        <div ng-repeat="optionGroup in cic.serviceData" class="form-group">
        <br>
          <div ng-repeat="option in optionGroup" class="form-group">
              <label ng-show="cic.currentLanguage == 'En'" class="control-label col-sm-2" for="code" translate>{{option.label}}: </label>
               <label ng-show="cic.currentLanguage == 'Sr'" class="control-label col-sm-2" for="code" translate>{{option.labelSer}}: </label>
              <div class="col-sm-6 col-md-4" busy-indicator>
                  <input type="checkbox" ng-model="option.selected" ng-value={{"option._id"}} id="services" ng-click="cic.updateCarInsurance(option)" name="services" class="form-control">
              </div>
         </div>
        </div>
 


        <div class="col-sm-offset-2" >
            <button type="button" class="btn_small btn-primary" ng-click="cic.goToMainForm()" translate>{{"COMMON.NEXT"}}</button>
            <button type="button" class="btn_small btn-secondary" ng-click="cic.goToFinalPage()" translate>{{"COMMON.SKIP"}}</button>
        </div>
    </form>
</div>
</div>


</body>
</html>