<!DOCTYPE html>
<html>
<head>
    <title>Payment</title>

    <link href="./assets/css/bootstrap.css" rel="stylesheet">
     <link rel="stylesheet" href="assets/css/style.css">
    <link href="./assets/css/company.css" rel="stylesheet">
    <link href="./assets/css/font-awesome.css" rel="stylesheet">
    <link href="./assets/css/solution.css" rel="stylesheet">
</head>
<body ng-app="merchant-app">

  <div class="container">

    <div class="form-top">
       <div class="form-top-left">
                                
      </div>
      <div class="form-top-right">
         <i class="fa fa-lock"></i>
      </div>
    </div>    
  

<div class="form-bottom">
	<span style="color: white; font-size: 40pt" translate>Transaction failed</span>

</div>
</div>
  </body>

</html>