<div>
    <h2>Login</h2>

    <form id="login_form" ng-submit="lc.login()">
        <div class="input-wrapper">
            <input required id="email_block" type="text" name="username" placeholder="Email Address" ng-model="lc.user.username">
        </div>
        <div class="input-wrapper">
            <input required id="password_block" name="password" type="{{lc.input.type}}" placeholder="Password" ng-model="lc.user.password">
        </div>
        <div class="forgot_password">
            <a ui-sref='forgot-password'>Forgot your password?</a>
        </div>
        <div class="button_login">
            <button type="submit" class="submit_button">Login</button>
        </div>
    </form>
    </span>
</div>