<!DOCTYPE html>
<html>
<head>
    <title>Insurance</title>
    <link href="./assets/css/bootstrap.css" rel="stylesheet">
    <link href="./assets/css/company.css" rel="stylesheet">
    <link href="./assets/css/font-awesome.css" rel="stylesheet">
    <link href="./assets/css/solution.css" rel="stylesheet">
</head>
<body ng-app="company-registry">
<div>

<form class="form-horizontal" novalidate name="uc.usersForm">
		<div class="form-group">
		<div class="col-sm-offset-2 col-sm-4">
			<label>Contractor</label>
		</div>
		</div>
		
		<div class="form-group">
		<label class="control-label col-sm-2">Name:</label>
		<div class="col-sm-6 col-md-4">
		<input class="form-control" type="text" ng-model="uc.contractor.name"> 
		</div>
		</div>

		<div class="form-group">
		<label class="control-label col-sm-2">Surname:</label>
		<div class="col-sm-6 col-md-4">
		<input class="form-control" type="text" ng-model="uc.contractor.surname"> 
		</div>
		</div>

		<div class="form-group">
		<label class="control-label col-sm-2">JMBG:</label>
		<div class="col-sm-6 col-md-4">
		<input class="form-control" type="text" ng-model="uc.contractor.jmbg"> 
		</div>
		</div>

		<div class="form-group">
		<label class="control-label col-sm-2">Passport number:</label>
		<div class="col-sm-6 col-md-4">
		<input class="form-control" type="text" ng-model="uc.contractor.name"> 
		</div>
		</div>

		<div class="form-group">
		<label class="control-label col-sm-2">Address:</label>
		<div class="col-sm-6 col-md-4">
		<input class="form-control" type="text" ng-model="uc.contractor.address"> 
		</div>
		</div>

		<div class="form-group">
		<label class="control-label col-sm-2">Telephone number:</label>
		<div class="col-sm-6 col-md-4">
		<input class="form-control" type="text" ng-model="uc.contractor.telephone"> 
		</div>
		</div>

		<div class="form-group">
		<label class="control-label col-sm-2">Age:</label>
		<div class="col-sm-6 col-md-4">
		<input class="form-control" type="number" min="0" max="130" ng-model="uc.contractor.age"> 
		</div>
		</div>

			<div class="form-group">
		<label class="control-label col-sm-2">Email:</label>
		<div class="col-sm-6 col-md-4">
		<input class="form-control" type="email" ng-model="uc.contractor.email"> 
		</div>
		</div>
		
	</form>

	<br>
	<br>

	<form class="form-horizontal" novalidate name="uc.usersForm" ng-repeat="user in uc.users">
		
		<div class="form-group">
		<div class="col-sm-offset-2 col-sm-4">
			<label>User</label>
		</div>
		</div>

		<div class="form-group">
		<label class="control-label col-sm-2">Name:</label>
		<div class="col-sm-6 col-md-4">
		<input class="form-control" type="text" ng-model="user.name"> 
		</div>
		</div>

		<div class="form-group">
		<label class="control-label col-sm-2">Surname:</label>
		<div class="col-sm-6 col-md-4">
		<input class="form-control" type="text" ng-model="user.surname"> 
		</div>
		</div>

		<div class="form-group">
		<label class="control-label col-sm-2">JMBG:</label>
		<div class="col-sm-6 col-md-4">
		<input class="form-control" type="text" ng-model="user.jmbg"> 
		</div>
		</div>

		<div class="form-group">
		<label class="control-label col-sm-2">Passport number:</label>
		<div class="col-sm-6 col-md-4">
		<input class="form-control" type="text" ng-model="user.name"> 
		</div>
		</div>

		<div class="form-group">
		<label class="control-label col-sm-2">Address:</label>
		<div class="col-sm-6 col-md-4">
		<input class="form-control" type="text" ng-model="user.address"> 
		</div>
		</div>

		<div class="form-group">
		<label class="control-label col-sm-2">Telephone number:</label>
		<div class="col-sm-6 col-md-4">
		<input class="form-control" type="text" ng-model="user.telephone"> 
		</div>
		</div>

		<div class="form-group">
		<label class="control-label col-sm-2">Age:</label>
		<div class="col-sm-6 col-md-4">
		<input class="form-control" type="number" min="0" max="130" ng-model="user.age"> 
		</div>
		</div>

		<br>
	<br>
		
	</form>
	 <div class="col-sm-offset-2">
		      <button class="btn btn-primary" ng-click="uc.goToHouseInsurance()">Next</button>        
		</div>
</div>
</body>
</html>
